.home{
    display: flex;
    .home-container{
        flex: 5;

        .widgets, .charts{
            display: flex;
            padding: 1.5rem;
            gap: 1.5rem
        }
                .charts{
                    padding: 0.3rem 1.3rem
                }
    }
}