.datatable{
    height: 600px;
    padding: 1.8rem;

    .datatable-title{
        width: 100%;
        margin-bottom: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .new-user-link{
            font-size: 1.1rem;
            padding: .3rem .8rem;
            background-color: rgba(75, 181, 67, .5);
            border-radius: 5px;
            font-weight: 600;
            color: #15133C;
        }
        .new-user-link:hover{
            background-color: rgba(75, 181, 67, .8);
            transform: scale(.99);
            color: #15133C;
            transition: .2s;
        }
    }
    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1.3rem;
        }
    }

    .cellWithStatus{
        padding: 4px 0;
        min-width: 70px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;

        &.active {
            display: inline-block;
            color: #4BB543;
            background-color: rgba(75, 181, 67, .15);
        }
    
        &.pending {
            display: inline-block;
            color: #FFD24C;
            background-color: rgba(255, 210, 76, .15);
        }
        &.passive {
            display: inline-block;
            color: #ff3333;
            background-color: rgba(255, 51, 51, .15);
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 1rem;

        .viewButton{
            padding: 4px 0;
            min-width: 70px;
            text-align: center;
            border-radius: 5px;
            color: rgb(21, 19, 60);
            background-color: rgba(21, 19, 60, .3);
            cursor: pointer;
        }
        .deleteButton{
            padding: 4px 0;
            min-width: 70px;
            text-align: center;
            border-radius: 5px;
            color: rgb(21, 19, 60);
            background-color: rgba(255, 51, 51, .3);
            cursor: pointer;
        }
    }
}