.datatable{
    height: 600px;
    padding: 1.8rem;

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1.3rem;
        }
    }

    .cellWithStatus{
        padding: .5rem;
        border-radius: 5px;
    
        &.active {
            display: inline-block;
            width: 64px;
            text-align: center;
            color: #4BB543;
            background-color: rgba(75, 181, 67, .15);
        }
    
        &.pending {
            display: inline-block;
            width: 64px;
            text-align: center;
            color: #FFD24C;
            background-color: rgba(255, 210, 76, .15);
        }
        &.passive {
            display: inline-block;
            width: 64px;
            text-align: center;
            color: #ff3333;
            background-color: rgba(255, 51, 51, .15);
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 1rem;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(21, 19, 60);
            border: 1px dotted rgba(21, 19, 60, .5);
            cursor: pointer;
        }
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(21, 19, 60);
            border: 1px dotted #ff3333;
            cursor: pointer;
            
        }
    }
}